<div class="container">
  <div class="row">
  <div id="img_field">
    <%= attachment_image_tag(@item, :image, size: "300x220", fallback: "no-image.jpg") %>
    <div class="field">
      <p><%= @item.name %></p><br>
    </div>
    <div class="field">
      <p><%= @item.introduction %></p><br>
    </div>
    <div class="field">
      <p>¥<%= (@item.price*1.1.round).to_s(:delimited, delimiter: ",") %>(税込)</p><br>
		</div>
		<div class="field">
		<%= form_with(model: @cart_item, url: customers_cart_items_path, method: :post, local: true) do |f| %>
		<%= f.select :amount, options_for_select((1..10).to_a) %>
		<%= f.hidden_field :item_id, :value => @item.id %>
		<%= f.submit "カートに入れる" %>
		</div>
    <% end %>
  </div>
</div>

