<div class="container">
  <div class="row">
    <h2>ショッピングカート</h2>
    <table class="table">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.item.name %></td>
          <td><%= (cart_item.item.price*1.1).to_s(:delimited, delimiter: ",") %></td>
          <td>
            <%= form_with model: [:customers, @cart_item], local:true do |f| %>
            <div class="field">
              <%= f.label :amount, "数量" %>
              <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10], include_blank: "個数選択" %>
            </div>
              <% end %>
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>