<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <% if customer_signed_in? %>
  <body>
    <div class="header">
      <%= render "layouts/header" %>
    </div>
    <%= yield %>
  </body>

  <% elsif admin_signed_in? %>
  <body>
    <div class="header">
      <%= render "layouts/header" %>
    </div>
    <%= yield %>
  </body>
  <% else %>
  <body>
    <div class="header">
      <%= render "layouts/header" %>
    </div>
    <%= yield %>
  </body>
  <% end %>
</html>
